<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Packaging Machine</title>
    <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>

<div class="content-wrapper">
    <div class="container">
        <h1 class="title">VERTICAL <br> PACKAGING MACHINE</h1>

        <section class="intro">
            <h2>Kawashima’s Vertical Packaging Machine</h2>
            <p>Launched in 1961 reflecting various requirements of customers primarily in the food industry. Incremental improvements increased accuracy, securing the Kawashima Vertical Packaging Machine the top share in the industry.</p>
        </section>

        <section class="machine">
            <div class="machine-header">
                <img src="/static/images/KBF-6000ux%202.png" alt="Machine Image">
                <div class="machine-title">
                    <h3>KBF-6000X Vertical Packaging Machine</h3>
                    <p>KBF-6000X with "Usability + Accuracy + Diversity" concept realizes even higher speed packaging! As a pioneer of VFFS machine manufacturer, we can provide genuine quality and reliability.</p>
                </div>
                <img src="/static/images/KBF-6000Xe%201.jpg" alt="Machine Image">
            </div>

            <div class="specification">
                <h3 class="spec-title">Specification</h3>
                <table>
                    <tr>
                        <th>Type</th>
                        <td>type-S</td>
                    </tr>
                    <tr>
                        <th>Capacity</th>
                        <td>6~130rpm (depends on conditions)</td>
                    </tr>
                    <tr>
                        <th>Bag size</th>
                        <td>[type-S] Folding diameter 70~230mm / Bag length 50~300mm</td>
                    </tr>
                    <tr>
                        <th>Packaging materials</th>
                        <td>OPP/CPP, PET/PE, ON/PE, OPP/VM/PE etc.</td>
                    </tr>
                    <tr>
                        <th>Machine dimensions</th>
                        <td>[type-S] (H)1,420mm × (W)1,065mm × (L)1,805mm</td>
                    </tr>
                    <tr>
                        <th>Weight of machine</th>
                        <td>Approx. 720kg</td>
                    </tr>
                    <tr>
                        <th>Power consumption</th>
                        <td>3-phase 200V 30A 6KW</td>
                    </tr>
                    <tr>
                        <th>Air consumption</th>
                        <td>0.5MPa Approx. 140NL/min ≈130rpm idle operation</td>
                    </tr>
                    <tr>
                        <th>Option</th>
                        <td>Stripping, Date printer, Gas flushing, Semi-cut, Header Chain bag, C Shape Punch hole, Air cooling, Wrinkle stretcher, Film splice detection, Discharge conveyor, etc.</td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>

</body>
</html>
