<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.jpeg') }}" type="image/jpeg">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
</head>

<body>
  <div class="screen-overlay"></div>

  <aside class="sidebar">
    <header class="sidebar-header">
      <a href="#" class="header-logo">
        <img src="{{ url_for('static', filename='images/sideBar.png') }}" alt="Home">
      </a>
      <button class="toggler sidebar-toggler">
        <span class="material-symbols-rounded">chevron_left</span>
      </button>
      <button class="toggler menu-toggler">
        <span class="material-symbols-rounded">menu</span>
      </button>
    </header>

    <nav class="sidebar-nav">
      <ul class="nav-list primary-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon material-symbols-rounded">
                dashboard
            </span>
            <span class="nav-label">
                Home
            </span>
          </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span class="nav-icon material-symbols-rounded">
                    calendar_today
                </span>
                <span class="nav-label">
                    Detail Mesin
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{url_for('workOrder') }}" class="nav-link">
                <span class="nav-icon material-symbols-rounded">
                    notifications
                </span>
                <span class="nav-label">
                    Work Order
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('historyPM') }}" class="nav-link">
                <span class="nav-icon material-symbols-rounded">
                    group
                </span>
                <span class="nav-label">
                    History PM
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('planPM') }}" class="nav-link">
                <span class="nav-icon material-symbols-rounded">
                    insert_chart
                </span>
                <span class="nav-label">
                    Plan PM
                </span>
            </a>
        </li>
      </ul>

      <ul class="nav-list secondary-nav">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span class="nav-icon material-symbols-rounded">
                    settings
                </span>
                <span class="nav-label">
                    Settings
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <span class="nav-icon material-symbols-rounded">
                    account_circle
                </span>
                <span class="nav-label">
                    Profile
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link logout-link">
                <span class="nav-icon material-symbols-rounded">
                    logout
                </span>
                <span class="nav-label">
                    Logout
                </span>
            </a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="content-wrapper">
      <div class="container">
        <h1>Welcome, Let's Talk<br>About Our Machine</h1>

        <!-- Accordion 1 -->
        <div class="accordion">
            <button class="accordion-header">
                <span>Bagaimana mesin bekerja</span>
                <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Prinsip kerja mesin didasarkan pada hukum termodinamika dan hukum Newton tentang gerak. Mesin bekerja dengan mengubah energi dari satu bentuk menjadi bentuk yang lain untuk menghasilkan tugas yang dibutuhkan.</p>
            </div>
        </div>

        <!-- Accordion 2 -->
        <div class="accordion">
            <button class="accordion-header">
                <span>Packaging Machine Kawashima</span>
                <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Deskripsi tentang Packaging Machine Kawashima...</p>
            </div>
        </div>

        <!-- Accordion 3 -->
        <div class="accordion">
            <button class="accordion-header">
                <span>Batch Fryer Machine</span>
                <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Deskripsi tentang Batch Fryer Machine...</p>
            </div>
        </div>

        <!-- Accordion 4 -->
        <div class="accordion">
            <button class="accordion-header">
                <span>First Dryer Machine</span>
                <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Deskripsi tentang First Dryer Machine...</p>
            </div>
        </div>

        <!-- Accordion 5 -->
        <div class="accordion">
            <button class="accordion-header">
                <span>Cooker Machine</span>
                <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Deskripsi tentang Cooker Machine...</p>
            </div>
        </div>

        <!-- Accordion 6 -->
        <div class="accordion">
            <button class="accordion-header">
                <span>Dough Sheeter Machine</span>
                <span class="icon">+</span>
            </button>
            <div class="accordion-content">
                <p>Deskripsi tentang Dough Sheeter Machine...</p>
            </div>
        </div>

    </div>
  </div>
<!-- Linking custom script -->
  <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>
