<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar Menu</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.jpeg') }}" type="image/jpeg">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0">
</head>

<body>
  <div class="screen-overlay"></div>

  <aside class="sidebar">
    <header class="sidebar-header">
      <a href="#" class="header-logo">
        <img src="{{ url_for('static', filename='images/sideBar.png') }}" alt="Home">
      </a>
      <button class="toggler sidebar-toggler">
        <span class="material-symbols-rounded">chevron_left</span>
      </button>
      <button class="toggler menu-toggler">
        <span class="material-symbols-rounded">menu</span>
      </button>
    </header>

    <nav class="sidebar-nav">
      <ul class="nav-list primary-nav">
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">dashboard</span><span class="nav-label">Home</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">calendar_today</span><span class="nav-label">Detail Mesin</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">notifications</span><span class="nav-label">Work Order</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">group</span><span class="nav-label">History PM</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">insert_chart</span><span class="nav-label">Plan PM</span></a></li>
      </ul>

      <ul class="nav-list secondary-nav">
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">settings</span><span class="nav-label">Settings</span></a></li>
        <li class="nav-item"><a href="#" class="nav-link"><span class="nav-icon material-symbols-rounded">account_circle</span><span class="nav-label">Profile</span></a></li>
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link logout-link"><span class="nav-icon material-symbols-rounded">logout</span><span class="nav-label">Logout</span></a></li>
      </ul>
    </nav>
  </aside>

  <div class="content-wrapper">
    <header class="content-header">
      <h1>Plan PM</h1>
    </header>
    <div class="video-list">
      <a href="#" class="video-card">
        <div class="image-container">
            <img src="/static/images/kawashima.jpg" alt="Mesin Kawashima" class="custom-image">
        <div class="overlay">Mesin Kawashima 1</div>
        </div>
      </a>

      <a href="#" class="video-card">
        <div class="image-container">
            <img src="/static/images/kawashima.jpg" alt="Mesin Kawashima" class="custom-image">
        <div class="overlay">Mesin Kawashima 2</div>
        </div>
      </a>

        <!-- Spare Video Card -->
      <a href="#" class="video-card"></a>
      <a href="#" class="video-card"></a>
      <a href="#" class="video-card"></a>
      <a href="#" class="video-card"></a>
      </div>
  </div>
<!-- Linking custom script -->
    <script src="/static/js/script.js"></script>
</body>
</html>
